
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
  }
  
  .center {
    text-align: center;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  select {
    display: block;
    width: 20%;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  